@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <h1>EMPLOYEE DATA</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Gender Count
                </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <!-- Morris chart - Sales -->
                    <div class="d-flex justify-content-center chart" id="revenue-chart"
                         style="position: relative; height: 300px;">
                        <canvas id="genderChart" height="300" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>
        <div class="col card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    All Employee Major
                </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <!-- Morris chart - Sales -->
                    <div class="d-flex justify-content-center chart" id="revenue-chart"
                         style="position: relative; height: 300px;">
                        <canvas id="majorChart" height="300" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>
    </div>
</div>

