@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Employee Data</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="mb-3"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddEmployee"><i class="bi bi-plus"></i>Add Employee</button></div>
            <table id="employeeTable" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Hiring Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

@*modal add employee*@
<div class="modal fade" id="modalAddEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="date" class="form-control" id="birthDate">
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Gender</label>
                        <br />
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn">
                                <input type="radio" name="options" id="option1" value="0" autocomplete="off"> Female
                            </label>
                            <label class="btn">
                                <input type="radio" name="options" id="option2" value="1" autocomplete="off"> Male
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="hiringDate" class="form-label">Hiring Date</label>
                        <input type="date" class="form-control" id="hiringDate">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
            </div>
        </div>
    </div>
</div>

@*<form>
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="email" class="form-control" id="firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
        <label for="birthDate" class="form-label">Birth Date</label>
        <input type="date" class="form-control" id="birthDate">
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Female
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Male
        </label>
    </div>
    <div class="mb-3">
        <label for="hiringDate" class="form-label">Hiring Date</label>
        <input type="date" class="form-control" id="hiringDate">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber">
    </div>
    <div class="mb-3">
        <label for="degree" class="form-label">Degree</label>
        <input type="text" class="form-control" id="degree">
    </div>
    <div class="mb-3">
        <label for="major" class="form-label">Major</label>
        <input type="text" class="form-control" id="major">
    </div>
    <div class="mb-3">
        <label for="gpa" class="form-label">GPA</label>
        <input type="number" class="form-control" id="gpa">
    </div>
    <div class="mb-3">
        <label for="universityCode" class="form-label">University Code</label>
        <input type="text" class="form-control" id="universityCode">
    </div>
    <div class="mb-3">
        <label for="universityName" class="form-label">University Name</label>
        <input type="text" class="form-control" id="universityName">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>*@